<p>
  ngforcomponent works!
</p>

Friends: <br>
{{  friends }}
<br>
Input Task: <input type="text" [(ngModel)]= "friendName"> {{ friendName }} <br>
<input type="submit" value="Add Task" (click)="addFriend()">

<ul>
  <li *ngFor="let v of friends; let counter = index" (click)="showFriendName(counter)">
   {{counter}}. {{v}}
  </li>
</ul>

<table border="1">
  <tr>
    <th>Friend Name</th>
  </tr>
  <tr  *ngFor="let v of friends; let counter = index">
    <td>{{v | uppercase}}</td>
  </tr>
</table>
<br> World Friends:
<table border="1">
    <tr>
        <th>S.no</th>
      <th>Friend Name</th>
      <th>Friend Location</th>
    </tr>
    <tr  *ngFor="let v of worldFriends; let counter = index" >
            
              <td *ngIf="v.age < 30">{{counter}}</td>
              <td *ngIf="v.age < 30"> {{ v.name }} </td>
              <td *ngIf="v.age < 30">{{ v.location }}</td>
  

    </tr>

</table>
  <hr>
  <h1 *ngIf="age>=30"> Age is 30</h1>